:root {
  --redux-color: #764abc;
}

.topbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 118, 210);
  padding: 16px 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  color: white;
}

.text-center {
  text-align: center;
}

.toolbar {
  display: flex;
  /* align-items: center; */
}

.btn-filter {
  margin-left: 24px;
  border: none;
  border-radius: 10%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 0 12px;
}

.btn-filter:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.btn-filter:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  box-sizing: border-box;
  /* width: calc(100% + 16px); */
}

.card {
  box-sizing: border-box;
  flex-basis: 100%;
  padding-left: 16px;
  padding-top: 16px;
  flex-direction: row;
}

.paper {
  background-color: rgb(231, 235, 240);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* height: 250px; */
}

/* .title {
  height: 60px;
  overflow: scroll;
  margin-top: 2px;
} */

.card:not(:last-child) {
}

.content {
  padding: 16px;
  flex-grow: 1;
}

.action {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

.action-left {
  display: flex;
  align-items: center;
}

.btn-like {
  display: flex;
  align-items: center;
  margin-right: 16px;
  border: none;
  padding: 10px;
}

.btn-like:hover {
  border-radius: 50%;
  /* padding: 10px; */
}

.btn-delete-text {
  margin: 5px;
  font-size: 16px;
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .card {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
  .card {
    flex-basis: 33.33333%;
    flex-grow: 0;
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 10px;
  /* text-indent: -9999em; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
